*.aux
*.log 
*.nav
*.snm
*.toc
*.out
/*.pdf
/exams/*.pdf
/exercises/*.pdf
/exercises/handwritten/ps*/*.pdf
/exercises/qiskit/course-setup/*.pdf
/exercises/qiskit/q*/q*-dist
.ipynb_checkpoints
**/.DS_Store
**/dist
*.OTTER_LOG

